@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}

nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li{
  margin: 0 5px;
}

nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}

nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"]{
  display: none;
}

.form{
  width: 50%;
  background: rgba(0,0,0,0.3);
  padding: 20px;
  text-align: center;
  overflow: hidden;
  margin: 5% auto;
  border-radius: 10px;
}

@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  
  #click:checked ~ ul{
    left: 0;
  }
  
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
  
  .form{
  width:90%;
  text-align: center;
  margin: 5%;
  transition: all 0.3s ease;
  }
  
  form.flpage-content{
    width: 70%;
    transition: all 0.3s ease;
  }
}

.form div input{
  border-radius: 10px;
  width: 80%;
  text-align: center;
  border: 2px solid rgba(224, 211, 121);
  padding: 10px;
  font-size: 1em;
}

input[type="submit"]{
  display: block;
  border-radius: 10px;
  background: yellow;
  border: 2px solid;
  color: black;
  padding: 5px;
  width: 50%;
  margin-top: 20px;
  font-size:1em;
  text-align: center;
  text-decoration: none;
}

input[type="submit"]:hover{
  background: black;
  border: 2px solid rgba(222, 224, 121);
  color: white;
}

/*------------------pop up part----------------------*/

/* The flpage(background) */
.flpage {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  padding-top: 50px;
}

/* flpage Content/Box */
.flpage-content {
  background-color: rgba(0,0,0,0.7);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 30px;
  margin: 20% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
  text-align: center;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

.container a{
  display: block;
  border-radius: 10px;
  background: yellow;
  border: 2px solid;
  color: black;
  padding: 5px;
  width: 50%;
  margin-top: 20px;
  font-size:1em;
  text-align: center;
  text-decoration: none;
}

.container a:hover{
  background: black;
  border: 2px solid rgba(222, 224, 121);
  color: white;
}